<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyhospital.dao.BuyerMapper" >
  <resultMap id="BaseResultMap" type="com.skyhospital.pojo.Buyer" >
    <id column="buyerId" property="buyerId" jdbcType="INTEGER" />
    <result column="buyerName" property="buyerName" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    buyerId, buyerName, Phone, contact
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buyer
    where buyerId = #{buyerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buyer
    where buyerId = #{buyerId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.skyhospital.pojo.Buyer" >
    insert into buyer (buyerId, buyerName, Phone, 
      contact)
    values (#{buyerId,jdbcType=INTEGER}, #{buyerName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.skyhospital.pojo.Buyer" >
    insert into buyer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buyerId != null" >
        buyerId,
      </if>
      <if test="buyerName != null" >
        buyerName,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="contact != null" >
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buyerId != null" >
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.skyhospital.pojo.Buyer" >
    update buyer
    <set >
      <if test="buyerName != null" >
        buyerName = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
    </set>
    where buyerId = #{buyerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skyhospital.pojo.Buyer" >
    update buyer
    set buyerName = #{buyerName,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR}
    where buyerId = #{buyerId,jdbcType=INTEGER}
  </update>
</mapper>