<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyhospital.dao.GoodskindMapper" >
  <resultMap id="BaseResultMap" type="com.skyhospital.pojo.Goodskind" >
    <id column="GoodsKindID" property="goodsKindID" jdbcType="INTEGER" />
    <result column="GoodsKindName" property="goodsKindName" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    GoodsKindID, GoodsKindName, isdel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skyhospital.pojo.GoodskindExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodskind
    where GoodsKindID = #{goodsKindID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodskind
    where GoodsKindID = #{goodsKindID,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skyhospital.pojo.GoodskindExample" >
    delete from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skyhospital.pojo.Goodskind" >
    insert into goodskind (GoodsKindID, GoodsKindName, isdel
      )
    values (#{goodsKindID,jdbcType=INTEGER}, #{goodsKindName,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.skyhospital.pojo.Goodskind" >
    insert into goodskind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsKindID != null" >
        GoodsKindID,
      </if>
      <if test="goodsKindName != null" >
        GoodsKindName,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsKindID != null" >
        #{goodsKindID,jdbcType=INTEGER},
      </if>
      <if test="goodsKindName != null" >
        #{goodsKindName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skyhospital.pojo.GoodskindExample" resultType="java.lang.Integer" >
    select count(*) from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goodskind
    <set >
      <if test="record.goodsKindID != null" >
        GoodsKindID = #{record.goodsKindID,jdbcType=INTEGER},
      </if>
      <if test="record.goodsKindName != null" >
        GoodsKindName = #{record.goodsKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goodskind
    set GoodsKindID = #{record.goodsKindID,jdbcType=INTEGER},
      GoodsKindName = #{record.goodsKindName,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skyhospital.pojo.Goodskind" >
    update goodskind
    <set >
      <if test="goodsKindName != null" >
        GoodsKindName = #{goodsKindName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where GoodsKindID = #{goodsKindID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skyhospital.pojo.Goodskind" >
    update goodskind
    set GoodsKindName = #{goodsKindName,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER}
    where GoodsKindID = #{goodsKindID,jdbcType=INTEGER}
  </update>
</mapper>