<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyhospital.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.skyhospital.pojo.Role" >
    <id column="RID" property="RID" jdbcType="VARCHAR" />
    <result column="RName" property="RName" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    RID, RName, isdel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skyhospital.pojo.RoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where RID = #{RID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where RID = #{RID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.skyhospital.pojo.RoleExample" >
    delete from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skyhospital.pojo.Role" >
    insert into role (RID, RName, isdel
      )
    values (#{RID,jdbcType=VARCHAR}, #{RName,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.skyhospital.pojo.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="RID != null" >
        RID,
      </if>
      <if test="RName != null" >
        RName,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="RID != null" >
        #{RID,jdbcType=VARCHAR},
      </if>
      <if test="RName != null" >
        #{RName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skyhospital.pojo.RoleExample" resultType="java.lang.Integer" >
    select count(*) from role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update role
    <set >
      <if test="record.RID != null" >
        RID = #{record.RID,jdbcType=VARCHAR},
      </if>
      <if test="record.RName != null" >
        RName = #{record.RName,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update role
    set RID = #{record.RID,jdbcType=VARCHAR},
      RName = #{record.RName,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skyhospital.pojo.Role" >
    update role
    <set >
      <if test="RName != null" >
        RName = #{RName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where RID = #{RID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skyhospital.pojo.Role" >
    update role
    set RName = #{RName,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER}
    where RID = #{RID,jdbcType=VARCHAR}
  </update>
</mapper>