<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyhospital.dao.TinyunitMapper" >
  <resultMap id="BaseResultMap" type="com.skyhospital.pojo.Tinyunit" >
    <id column="TinyUnitId" property="tinyUnitId" jdbcType="INTEGER" />
    <result column="TinyUnitName" property="tinyUnitName" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    TinyUnitId, TinyUnitName, isdel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.skyhospital.pojo.TinyunitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tinyunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tinyunit
    where TinyUnitId = #{tinyUnitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tinyunit
    where TinyUnitId = #{tinyUnitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.skyhospital.pojo.TinyunitExample" >
    delete from tinyunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.skyhospital.pojo.Tinyunit" >
    insert into tinyunit (TinyUnitId, TinyUnitName, isdel
      )
    values (#{tinyUnitId,jdbcType=INTEGER}, #{tinyUnitName,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.skyhospital.pojo.Tinyunit" >
    insert into tinyunit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tinyUnitId != null" >
        TinyUnitId,
      </if>
      <if test="tinyUnitName != null" >
        TinyUnitName,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tinyUnitId != null" >
        #{tinyUnitId,jdbcType=INTEGER},
      </if>
      <if test="tinyUnitName != null" >
        #{tinyUnitName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.skyhospital.pojo.TinyunitExample" resultType="java.lang.Integer" >
    select count(*) from tinyunit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tinyunit
    <set >
      <if test="record.tinyUnitId != null" >
        TinyUnitId = #{record.tinyUnitId,jdbcType=INTEGER},
      </if>
      <if test="record.tinyUnitName != null" >
        TinyUnitName = #{record.tinyUnitName,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tinyunit
    set TinyUnitId = #{record.tinyUnitId,jdbcType=INTEGER},
      TinyUnitName = #{record.tinyUnitName,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.skyhospital.pojo.Tinyunit" >
    update tinyunit
    <set >
      <if test="tinyUnitName != null" >
        TinyUnitName = #{tinyUnitName,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
    </set>
    where TinyUnitId = #{tinyUnitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.skyhospital.pojo.Tinyunit" >
    update tinyunit
    set TinyUnitName = #{tinyUnitName,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER}
    where TinyUnitId = #{tinyUnitId,jdbcType=INTEGER}
  </update>
</mapper>